@import "../../App.scss";
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    input {
        width: 800px;
        height: 30px;
        outline: none;
        border: none;
        border-bottom: 1px solid $main-gary;
        padding-left: 4px;
    }
    button {
        position: absolute;
        right: 100px;
    }
    .search-list {
        @include flexCol;
    }
}
