@import "../../App.scss";
.post-create {
    display: flex;
    flex-direction: column;
    .create-btn-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .create-btn {
            width: 50px;
            height: 30px;
            border: none;
            border-radius: 4px;
        }
        .create-btn:hover {
            background: #adadad;
        }
    }
    .post-create-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            font-size: 50px;
            border: none;
            margin-bottom: 40px;
        }
        textarea {
            font-size: 18px;
            width: 1000px;
            height: 400px;
            border: 1px solid black;
            outline: none;
            resize: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .post-create {
        .create-btn-box {
            .create-btn {
                margin-bottom: 20px;
            }
        }
        .post-create-box {
            .text-length {
                font-size: 12px;
            }
            input {
                font-size: 30px;
            }
            textarea {
                width: 600px;
            }
        }
    }
}
@media screen and (max-width: 414px) {
    .post-create {
        align-items: center;
        .create-btn-box {
            .create-btn {
                margin-bottom: 20px;
            }
        }
        .post-create-box {
            .text-length {
                font-size: 12px;
            }
            input {
                font-size: 30px;
            }
            textarea {
                width: $small-width;
            }
        }
    }
}
