@import "../../App.scss";
.post-contents {
    @include flexCol;
    .post-contents-box {
        @include flexCol;
        margin-top: 40px;
        .post-contents-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            .post-contents-title {
                font-size: 60px;
                margin-bottom: 40px;
                color: $main-gary;
            }
            .post-contents-info-box {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .post-contents-meta-info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 10px;
                    span:nth-child(1) {
                        font-weight: 600;
                    }
                    .line {
                        border: 1px solid #747474;
                        height: 16px;
                        margin: 0 10px;
                    }
                }
                .fix-box {
                    display: flex;
                    flex-direction: row;
                    span {
                        cursor: pointer;
                    }
                    span:nth-child(1) {
                        margin-right: 10px;
                    }
                }
            }
        }
        .post-contents-image {
            width: 1000px;
            height: 300px;
            border: 1px solid $main-gary;
            margin-bottom: 100px;
        }
        .post-contents-area {
            width: 800px;
            text-align: left;
            // @include box-shadow;
            .contents {
                color: $main-gary;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .post-contents {
        .post-contents-box {
            .post-contents-info {
                .post-contents-title {
                    font-size: 40px;
                }
            }
            .post-contents-area {
                width: 500px;
            }
        }
    }
}
@media screen and (max-width: 414px) {
    .post-contents {
        .post-contents-box {
            .post-contents-info {
                .post-contents-title {
                    font-size: 30px;
                }
            }
            .post-contents-area {
                width: $small-width;
                font-size: 16px;
            }
        }
    }
}
