@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
span {
    user-select: none;
}

ul,
ol {
    list-style: none;
    outline: none;
}
li {
    user-select: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}
.App {
    width: 100%;
    padding: 0 100px;
}
button,
img {
    cursor: pointer;
}
